body {
  font-family: "Berthold Akzidenz Grotesk";
}

section.slide {
  width: 100%;
}

h1 {
  font-stretch: expanded;
  font-weight: bold;
  font-size: 4.5em;
}

h1, .vcenter {
  text-align: center;
}

h2 {
  /*margin-left: 48pt;*/
  font-size: 48pt;
}

/* title-slide specific stuff */

.title {
  background-image: url("../assets/img/title_bg.jpg");
  background-size: cover;
}

.title div {
    background-color: rgba(255,255,255,0.85);
    width: 70%;
    float: right;
    margin: 10%;
    text-align: right;
}

.title h1 {
  margin: 5%;
  margin-bottom: 0%;
  text-align: right;
}

.title hr {
  width: 40%;
  border-width: .15em;
  border-style: solid;
  color: black;
  margin-right: 13em;
  margin-top: 3em;
  margin-bottom: 4em;
}

.title h2 {
  font-size: 2.5em;
  margin: 1%;
  margin-right: 5%;
  font-weight: lighter;
}

.title h3 {
  margin: 5%;
  margin-top: 0;
}

.title a, .title a:visited {
  font-size: 1.5em;
  font-family: Courier;
  font-weight: lighter;
  color: blue;
}

/* timeline stuff */

section.s1 {
  background-image: url("../assets/img/s1_bg.jpg");
  background-size: cover;
}

section.s1 div {
  background-color: rgba(255,255,255,0.85);
}

section.s1 div.sectiontitle {
  margin-left: 10%;
}

section.s1 h1 {
  text-align: left;
  margin-left: 1em;
  padding-top: .2em;
}

section.s1 div.timelinecontainer {
  display: flex;
  margin: 0 0 0 0;
  justify-content: space-between;
  background-color: transparent;
}

section.s1 div.timeline {
  margin-left: 5%;
  flex: 0 0 60%;
}

section.s1 div.timelinepicture {
  margin-right: 5%;
  flex: 0 1 20%;
}

div.timelinepicture img {
  padding: 20px 20px 20px 20px;
  max-width: 480px;
  max-height: 480px;
}

/* before/after section */

section.s2 {
  background-image: url("../assets/img/s2_bg.jpg");
  background-size: cover;
  text-align: center;
}

section.s2 div {
  background-color: rgba(255,255,255,0.85);
}

section.s2 div.sectiontitle {
  display: inline-block;
}

section.s2 div.beforeafter {
  display: flex;
  margin: 0 1 10% 10%;
  background-color: transparent;
}

div.beforepic {
  flex: 0 0 50%;
}

div.afterpic {
  flex: 1;
}

div.beforeafter img {
  width: 80%;
}
