body {
  font-family: "Berthold Akzidenz Grotesk";
}

section.slide {
  width: 100%;
}

h1 {
  font-stretch: expanded;
  font-weight: bold;
  font-size: 3.5vw;
  padding: 1vw;
  padding-bottom: .2vw;
}

h1, .vcenter {
  text-align: center;
}

h2 {
  font-size: 2.8vw;
}

h3 {
  font-size: 1.6vw;
}

/* title-slide specific stuff */

.title {
  background-image: url("../assets/img/title_bg.jpg");
  background-size: cover;
}

.title div {
    background-color: rgba(255,255,255,0.85);
    width: 55%;
    float: right;
    text-align: right;
    margin: 10%;
    padding: 3%;
}

.title h1 {
  text-align: right;
  margin-top: 0px;
}

.title hr {
  width: 40%;
  border-width: .15vw;
  border-style: solid;
  color: black;
  margin-right: 8vw;
  margin-top: 3vw;
  margin-bottom: 4vw;
}

.title h2 {
  font-size: 2vw;
  font-weight: lighter;
}

.title h3 {
  margin-bottom: 0px;
}

.title a, .title a:visited {
  font-family: Courier;
  font-weight: lighter;
  color: blue;
}

/* timeline stuff */

section.s1 {
  background-image: url("../assets/img/s1_bg.jpg");
  background-size: cover;
}

section.s1 div {
  background-color: rgba(255,255,255,0.85);
}

section.s1 div.sectiontitle {
  margin-left: 10%;
}

section.s1 h1 {
  text-align: left;
  margin-left: 1vw;
}

section.s1 div.timeline {
  position: absolute;
  bottom: 10vh;
  left: 5vw;
  width: 50vw;
}

section.s1 div.timelinepicture {
  position: absolute;
  top: 10vh;
  right: 8vw;
}

div.timelinepicture img {
  padding: 5%;
  width: 30vw;
  max-height: 50vh;
}

/* before/after section */

section.s2 {
  background-image: url("../assets/img/s2_bg.jpg");
  background-size: cover;
  text-align: center;
}

section.s2 div.sectiontitle, section.s2 div.tbg {
  background-color: rgba(255,255,255,0.85);
}

div.padded {
  padding: 0.5vw;
}

div.beforepic, div.afterpic {
  position: absolute;
  width: 42vw;
  top: 20vh;
  height: 10vh;
}

div.beforepic {
  left: 5vw;
}

div.afterpic {
  right: 5vw;
}

div.beforeafter img {
  height: 30vh;
}

/* circuits section */

section.s3 {
  background-image: url("../assets/img/s3_bg_working.jpg");
  background-size: cover;
}

section.s3 div {
  background-color: rgba(255,255,255,0.85);
}

section.s3 div.sectiontitle {
  margin-left: 10%;
}

section.s3 div.circuit-container {
  padding: 2.5vh;
  margin-left: 5%;
  width: 35%;
}

section.s3 div.circuit-container object {
  width: 100vh;
}

section.s3 h1 {
  text-align: left;
  margin-left: 1vw;
}

/* conclusion section */

section.s4 {
  background: grey;
}

section.s4 div {
  background-color: rgba(255,255,255,0.85);
}

section.s4 div.list-container {
  padding: 5vh;
  margin: 10vh;
  width: 40%;
}

section.s4 li {
  font-size: 4vh;
}
